
<div class="studio-container">
    <div class="row">
    <div class="col s12 m6">
        <div class="card #424242 grey darken-3 custom-card-wide">
            <div class="card-content custom-card-wide">
                <span class=" card-title">{{video.title}}</span>
                {{!-- <iframe 
                id="studio-iframe" 
                width="700" 
                height="315" 
                src="https://www.youtube.com/embed/{{video.youtube_video_url}}?enablejsapi=1"
                title="YouTube video player" 
                frameborder="0" 
                allow="clipboard-write; gyroscope; picture-in-picture" > </iframe> --}}

                    <iframe id="existing-iframe-example"
                    width="640" height="360"
                    src="https://www.youtube.com/embed/{{video.youtube_video_url}}?enablejsapi=1"
                    frameborder="0"
                    style="border: solid 4px #37474F">
                    </iframe>
                <p>{{video.description}}</p>
            </div>
            <div class="card-action center">
                <a href="#" onclick="openFlashSec()"><i class="fa-solid fa-pen-to-square white-button"></i></a>
                {{!-- <a href="#"><i class="fa-solid fa-trash orange-button"></i></a> --}}

                  <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger btn-floating red darken-3" href="#modal1"><i class="fa-solid fa-trash orange-button"></i></a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal" style="color: black; height: 150px">
                        <div class="modal-content" style="color: black; height: 150px">
                                <h5 style="color: black; height: 10px">CONFIRMATION</h5>
                                <p style="color: black ;">Is it certainly necessary to delete this video?</p>
                                <form method="POST" action="/videos/{{video._id}}/delete?_method=DELETE">
                                        <button class="btn btn-floating red darken-3" name="modal" value="open"><i class="fa-solid fa-trash orange-button"></i></button>
                                </form>
                       </div>
                    </div>
          

            </div>
            <div class="card-action center">
                <a href="#" id="add-task"><i class="fa-solid fa-circle-plus green-button"></i></a>
                <a href="#" id="stop-task"><i class="fa-solid fa-stop green-button"></i></i></a>

                <a href="#"  id="seek-back"><i class="fa-solid fa-backward"></i></a>
                <a href="#" id="play"><i class="fa-solid fa-circle-play"></i></a>
                <a href="#" id="pause"><i class="fa-solid fa-pause"></i></a>
                <a href="#" id="seek-video"><i class="fa-solid fa-forward"></i></a>

            </div>
            <div class="card-action center collapsible-card #757575 grey darken-1" id="myFlashCard">

                <form action="#" method="POST">
                    <a href="#" onclick="closeFlash()"><i class="fa-solid fa-circle-xmark close-btn"></i></a>
                    <br>
                    <input placeholder="TASK TITLE" name="task[name]" id="taskName" type="text" class="validate">
                    <br>
                    <select class="form-select" aria-label="Default select example">
                            <option selected>SELECT ACTIVITY TYPE</option>
                            <option value="Value-adding">VALUE-ADDING</option>
                            <option value="Non-value-adding">NON-VALUE-ADDING</option>
                            <option value="Waste">WASTE</option>
                    </select>

                    <br>
                    <input placeholder="Start Time" id="start-time-input" name="task[start]" type="number">
                    <input placeholder="End Time" id="end-time-input" name="task[end]" type="number">
                    <div class="row">
                        <button class="button btn-floating btn-large green"><i class="fa-solid fa-file-circle-plus"></i></button>
                    </div>             
                </form>


            </div>
                    <div class="card-action center collapsible-card #757575 grey darken-1" id="myFlashCardSecond">
                        <a href="#" onclick="closeFlashSec()"><i class="fa-solid fa-circle-xmark close-btn"></i></a>
                        <br>
                            <form action="/videos/{{video._id}}/edit?_method=PUT" method="POST" class="col s12">
                                            <div class="row">
                                                <div class="input-field">
                                                    <input type="text" id="title" name="title" value="{{video.title}}">
                                                    <label for="title">Title</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field">
                                                    <select id="status" name="status">
                                                        <option value="private" selected>Private</option>
                                                        <option value="public">Public</option>
                                                    </select>
                                                    <label for="status">Privacy Status</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input id="tags-input" type="text" class="form-control" name="tags" data-role="tagsinput" placeholder="tags"  value="{{video.tags}} "/>
                                            </div>
                                            <div class="row">
                                                <div class="input-field">
                                                    <h5>Edit Your Description</h5>
                                                    <textarea id="body" name="description">{{video.description}}</textarea>
                                                </div>
                                            </div>
                                        <div class="row col2">
                                                <button type="submit" class="btn green">Update</button>
                                            </div>
                                        </form>

                    </div>
        </div>
    </div>
</div>


</div>


{{!-- 
 <script type="text/javascript">
    const video =  {{{json video}}}
</script> --}}

    <script src="/scripts/youtube-api-player.js" type="text/javascript"></script>
{{!-- 
{{#section 'script'}}
    
{{/section}} --}}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/scripts/tags-script.js"></script>


 

