
<link rel="stylesheet" href="/styles/map-style.css">

<div class="row">
    <h1><i class="fas fa-edit" style="color: #009246;"></i><i class="fa-solid fa-map-location"></i> EDIT PRODUCTION SITE</h1>

    
    <form action="/sites/{{site._id}}/edit?_method=PUT" method="POST" class="col s12" id="site-form">

        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="site[title]" placeholder="TITLE"  value="{{site.title}}">
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="contact" name="site[contact]" placeholder="CONTACT" value="{{site.contact}}">
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <p><em> <strong style="color:#CE2B37;">Current Address:</strong> {{site.address}}</em> </p>
                <p><em> <strong style="color: #009246;">Change Address to:</strong></em> </p>

                <input type="text" id="autocomplete_search" name="site[address]" placeholder="LOCATION" value="{{site.address}}">
                <br>
                <br>
                
                            <div id="map">
                                {{!-- Place to add  append your API iFrame --}}
                            </div>
                    <input type="hidden" name="site[place_google_id]" id="google_id">
                    <input type="hidden" name="site[coordinate]" id="coor">                    
                    
            </div>
        </div>



        <button type="button" class="btn green btn-floating btn-large" onclick="submitSite()">
            <i class="fa-solid fa-location-pin"></i>
        </button>
        <a href="/" class="btn orange btn-floating btn-large"><i class="fa-solid fa-ban"></i></a>
    </form>
</div>


{{#section 'script'}}
    {{#if GOOGLE_MAP_SECRETES}}
    <script>
        const GOOGLE_MAP_KEY = {{{ json GOOGLE_MAP_SECRETES }}}
        const site = {{{json site}}}

    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_SECRETES }}&libraries=places"></script>
    {{/if}}
    <script src="/scripts/google-map-autocomplete-edit.js"></script>
{{/section}}








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/scripts/tags-script.js"></script>