
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="/styles/youtube-player.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/styles/line-style.css">
<link rel="stylesheet" href="/styles/tasks-style-line.css">




  <div class="container-studio">
            {{#each site.lines}}

    <nav>
        <h4>MANUFCATURING LINE STUDIO</h4>
    </nav>
    <main> 
      <div class="container-line-dragndrop">
          {{#each ../line.workcenters}}     
              <div class="card-wc draggable">
                    <div class="card-wc-title">
                        <h6>{{this.title}}</h6>

                            
                    </div>
                    <div class="card-content-wc">                      
                          <a href="#">tack time: {{this.takt}}</a>
                          <a href="#">avg process time: {{this.processTime}}</a>
                          <a href="#">activities</a>
                    </div>
                    <div class="container-line-dragndrop" id="task-panel-container" style="height: 150px;">
                        <div draggable="true" class="task draggable">
                        <p>ACTIVITY</p> 
                        <i class="fa-sharp fa-solid fa-circle"></i>
                        <div class="class-time">120</div>
                    </div>
                        

                    </div>
                </div>
        {{/each}}
      </div>
    </main>

    <div id="title-bar">
                {{!-- Title Bar --}}
                <h3>{{this.title}}</h3>
                <h6>in action since {{formatDate createdAt 'MMMM Do YYYY'}}</h6>
                <h6>Site Created by {{../name}}</h6>
              
                <a href="/sites/{{../site._id}}">AT {{../site.title}} SITE</a>


      </div>
      <div id="control-bar">
        {{!-- {{CONTROL BAR}} --}}
            <a href="/sites/{{../site._id}}/lines/{{this._id}}/upload"   ><i class="fa-solid fa-upload"></i> Upload <i class="fa-brands fa-youtube"></i> </a>    
            <a href="/lines/{{this._id}}/wc/add"   ><i class="fa-solid fa-screwdriver"></i> create workcenter  </a>

      </div>
    <div id="stat-bar">
      {{!-- Task Bar --}}
                <h3>THIS IS THE STAT BAR</h3>


    </div>
    <div id="graph-bar"> 
              {{!-- Graph --}}
            <div id="graph-container" style="height: 600px;"></div>
    </div>

    <div id="bin">
      {{!-- bin --}}
                <h3>THIS IS THE BIN</h3>


    </div>
         {{/each}}


</div>

{{#section 'script'}}
    <script type="text/javascript" src="/scripts/drag-n-drop-line.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/scripts/google-graphs.js"></script>
{{/section}}











